#fil{
margin-left: 600px;
}

input[type="file"] {
    display: none;
} 
#file{
    padding: 10px;
    background: rgb(88, 85, 85); 
    display: table;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 2px;
    text-align: center;
    margin-left: 130px;
    margin-top: 10px;
    padding-top: 5px!important;
    line-height: 30px;
}